.auth-container {
  background-image: url('assets/images/bg-auth.jpg');
  background-position: center;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.63),
    rgba(0, 0, 0, 0.62)
  );
}
.no-outline:focus {
  border-color: black;
  box-shadow: none;
}
