/* AUTHENTACATION */
.auth-container {
  background-image: url('assets/images/bg-auth.jpg');
  background-position: center;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.63),
    rgba(0, 0, 0, 0.62)
  );
}
.no-outline:focus {
  border-color: black;
  box-shadow: none;
}
/* AUTHENTACATION */

/* SIDEBAR */

.sidebar-container {
  border-top-right-radius: 50px;
  overflow: hidden; /* Hide anything outside the rounded corners */
}

.sidebar-container .css-dip3t8 {
  background-color: #1f263e;
}
.sidebar-container .ps-menu-button {
  color: white !important;
}
.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 146, 77, 0.1) !important;
}
.sidebar-container .sidebar-logo:hover {
  background-color: #1f263e !important;
}
.sidebar-container .sidebar-logo {
  background-color: inherit !important;
}
.css-wx7wi4 {
  width: auto !important;
}

/* SIDEBAR */

/* NAVBAR */
.Navbar {
  background-color: rgba(248, 249, 251, 1);
  border-radius: 10px;
}
/* NAVBAR */

/* HEADER */
.header-container {
  background: url(./assets/images/header-circle.svg),
    linear-gradient(90deg, rgba(52, 141, 68, 1) 0%, rgba(61, 71, 103, 1) 82%);
  border-radius: 1rem;
}
.text-header {
  max-width: 550px;
}
/* HEADER */

/* CATEGORY */
.modal-header {
  border-bottom: none;
}
/* CATEGORY */


/* HEADER_FORM */
.header-form {
  background-color: #f0ffef;
  padding: 2.2rem 3.3rem;

}
.header-form .text-header{
  max-width: 400px;
}
/* HEADER_FORM */


/* search input */
.form-control-with-icon {
  position: relative;
}
.form-control-with-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6c757d;
}
.form-control-with-icon input {
  padding-left: 35px;
}

/* search input */
